.Rproj.user
.Rhistory
.RData
.Ruserdata
/simu_data
/simu_data_v2
/results
/temp
/model_evaluation
/R/2022
.DS_Store
May_25.html
May_25.Rmd
May_21.R
GenePCG.Rproj
/R/Previous_Simulation
/InfoGGM-master